.forma-container {
  max-width: 700px;
  margin: 0 auto;
  padding: 2rem;
  font-family: sans-serif;
}

.forma-recept {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

label {
  font-weight: bold;
}

input,
textarea {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 8px;
}

button {
  background-color: #ff7043;
  color: white;
  font-weight: bold;
  padding: 0.7rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.2s;
}

button:hover {
  background-color: #ff5722;
}

.poruka {
  margin-top: 1rem;
  font-weight: bold;
}
